# 最初にすべての階層のファイルを無視
### all ignore ###
/*
/.**

### not ignore ###
!/.bashrc
!/conky.conf
!/fish/
!/fish/config.fish
!/fish/starship.toml
!/nvim/
!/nvim/*/
!/nvim-jetpack/
!/nvim-jetpack/*/
!/nvim-lazy/
!/nvim-lazy/*/
!/windows/
!/windows/*
!/.xprofile
!/zsh/
!/zsh/*

!/README.md
!.gitignore
