# 最初にすべての階層のファイルを無視
### all ignore ###
/*
/.**

### not ignore ###
!/.xprofile

# shell
!/.bashrc
!!/zsh/
!/zsh/*
/!/fish/
!/fish/config.fish

conky.conf
!/fish/starship.toml

# editor
!/nvim/
!/nvim/*/
!/nvim-jetpack/
!/nvim-jetpack/*/
!/nvim-lazy/
!/nvim-lazy/*/
# OS
!/windows/
!/windows/*
!/README.md
!.gitignore
