# 最初にすべての階層のファイルを無視
### all ignore ###
/*
/.**

### not ignore ###
!/.xprofile

# shell
!/.bashrc
!!/zsh/
!/zsh/*
/!/fish/
!/fish/config.fish
!/nushell/
!/nushell/config.nu

conky.conf
!/fish/starship.toml

# editor
!/nvim/
!/nvim/*/
!/nvim-jetpack/
!/nvim-jetpack/*/
!/nvim-lazy/
!/nvim-lazy/*/
!/nvim-win/
!/nvim-win/*

# OS
!/windows/
!/windows/*
!/nixos/
!/nixos/flake.nix
!/nixos/flake.lock
!/nixos/home.nix
!/nixos/hosts/wsl-nixos/configration.nix

!/README.md
!.gitignore
